<div style="background-color:lightblue;">
    <h1>Web Music Player</h1>
</div>

<div style="background-color:lightskyblue; display: flex; flex-direction: row;">
    @if(content()?.path; as path) {
        @for (item of path; track item) {
            @if($index < path.length - 1) {
                <span class="fakelink" (click)="currentPath.set(item.subpath)">{{ item.name }}</span>
            } @else {
                <!-- current item is not clickable -->
                <span>{{ item.name }}</span>
            }
            @if($index < path.length - 1) {
                <span style="margin: 0 5px; ">></span>
            }
        }
    }
</div>

<main style="display: flex; flex-direction: row;">
    <div style="width: 150px;background-color: lightgrey;">
        <app-folderview [folders]="this.content()?.folders"></app-folderview>
    </div>
    <div style="background-color: lightcyan; flex-grow: 1;">
        @if(selectedFile(); as file) {
            <app-player [url]="file" [additionalInfo]="asdfwert"></app-player>
        }
    </div>
</main>

<!-- <router-outlet /> -->


